/* Contextualization : avoir le texte d'une couleur ---------------- */
  #content #wrapper .screen-header span {
  color: #2657F0;
  }

/*logo*/
@media screen and (max-width: 1023px) {
  .screen-header {
    div.logo-wrapper {
      .logo {
        height: 35px;
        width: 107px;
      }
    }
  }
}
